.book-card {
    width: 309px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: white;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .book-cover {
    width: 100%;
    border-radius: 8px;
  }
  